.App {
  text-align: center;
  background-color: #FBFD81;
  min-height: 100%;
}

img {
  margin: 8px;
  border: 8px;
}

input[type=button] {
  border: 5px;
  margin: 8px;
  height: 35px;
  width: 230px;
  font-size: 15px;
}

