.App {
  text-align: center;
  background-color: #fdc546;
  min-height: 100%;
}

img {
  margin: 5px;
  height: 210px
}

input[type=button] {
  border: 5px;
  margin: 8px;
  height: 35px;
  width: 230px;
  font-size: 15px;
}

input[type=text] {
  border: 5px;
  margin: 8px;
  height: 35px;
  width: 430px;
  font-size: 15px;
}

button {
  border: 5px;
  margin: 8px;
  height: 35px;
  width: 100px;
  font-size: 15px;
}

h2 {
  font-size: 30px;
  font-family: verdana;
  text-align: left;
  padding-left: 20px;
  color:  purple;
}
